[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.columns {
  list-style-type: none;
}

.column {
  text-align: center;
  cursor: move;
  float:left;
  padding: 5px;
}
.column.disabled{
	cursor:crosshair;
	background-color:#C4D5DF;
}
.column.disabled header{
	color:unset;
}
.column header {
  height: 20px;
  color: black;
  padding: 5px; 
  color:#007c92;
}

.column.dragElem {
  opacity: 0.4;
}
.column.over {
  border-top: 2px solid blue;
}

/* custom style */
ul{
	padding:20px;
}
li { 
	display: inline;
	border: 1px solid #dddddd;
	 border-right:none;
	 padding-left: 0.3em; 
 }
.course {
	width: 15%;
}
.course header{
	color:unset;
}
.reset {
	border-top: none;
	border-bottom: none;
	border-right: none;
	padding: 13px;
	color:#007c92;
}
.colspan li.course{
	width: 15%;
}

.colspan li.reset{
	width: unset;
}

.colspan li{
	width: 8%;
}